@font-face {
  font-family: "Brasika";
  src: url("../assets/fonts/brasika-display-trial.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

html {
  background-color: #161616;
}

h1 {
  text-align: center;
  font-family: 'Brasika', arial;
  color: #ffffff;
  font-size: 5em;
  margin-top: -0.5em;
}

html {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.name {
  color: #ffffff;
  font-size: 2em;
  font-family: 'Brasika', arial;
  margin-top: -20px;
}

#btnStart {
  color: #161616;
  font-size: 1.6em;
  border-radius: 20px;
  font-family: 'Roboto', arial;
  text-decoration:none;
  background-color: #ffffff;
  padding: 5px 10px;

}

.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}

#btnStart:hover {
  background-color: #161616;
  color: #ffffff;
  transition: 0.5s;
}

.all {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}