html {
    background-image: url("../assets/imgs/backgrounds/pink.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color:rgb(17, 4, 82, 0.7);
    scroll-behavior: smooth;
}

img {
    max-width: 30%;
    height: auto;
}

h2 {
    font-size: var(--font-size-medium);
    font-family: var(--police-titre2-btn);
    color: var(--color-black);
    background-color: var(--color-pink);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem;
    margin-top: 3rem;
}

h3 {
    font-size: var(--font-size-xsmall);
    font-family: var(--police-texte);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.photo-container img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.poeme-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.poeme {
    border: 2px solid var(--color-pink);
    padding: 1rem;
    height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
    max-width: 45%;
}

.voilier-container {
    margin-top: 2rem;
    color: white;
    display: flex;
    gap: 1rem;
    justify-content: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 2.5rem;
}

.voilier-container p {
    text-align: justify;
    font-family: var(--police-texte);
    font-size: var(--font-size-xsmall);
}

.voilier-container img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.results img {
    margin: 1rem;
    max-height: 200px;
    width: auto;
}

#ancre {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-family: var(--police-titre2-btn);
    font-size: var(--font-size-xsmall);
    text-decoration: none;
    color: white;
}

@media (max-width: 1200px) {
    .photo-container img {
        max-width: 45%;
    }

    .poeme {
        max-width: 80%;
    }

    .voilier-container img {
        max-width: 50%;
    }

    .voilier-container p {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 800px) {
    .voilier-container {
        max-width: 80%;
        padding: 1rem;
    }
    .voilier-container p {
        font-size: var(--font-size-xxsmall);
    }
}