@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: "Hit-Me-Punk";
  src: url("../assets/fonts/hit-me-punk/Hit\ me\,\ punk!\ 04.ttf");
}

@font-face {
  font-family: "hypothetical-moon-of-mercury";
  src: url("../assets/fonts/hypothetical-moon-of-mercury/HypotheticalmoonofMercury.ttf");
}

html {
  color: #000000;
  background-image: url("../assets/imgs/pink1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
}

.all {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: border-box;
  border: 3vh solid #000000;
}

@media (max-width: 1200px) {
  .all {
    border-width: 5vh;
  }
}

@media (max-width: 768px) {
  .all {
    border-width: 3vh;
  }
}

@media (max-width: 480px) {
  .all {
    border-width: 2vh;
  }
}

.main-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  transform: rotate(-3deg);
  transition: 0.5s;
}

#first-title {
  text-align: left;
  font-family: 'Hit-Me-Punk', arial;
  font-size: 8vw;
  background-color: #ff00b3;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-top: 0.3em;
  margin-left: 0.2em;
  margin-bottom: 0;
  width: fit-content;
  border: 0.08em solid #000000;
}

.presentation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5em;
  justify-content: space-around;
}

.presentation {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 20%;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 2.8vw;
  font-family: "hypothetical-moon-of-mercury", arial;
  width: fit-content;
  margin: 0;
  margin-left: 0.5em;
  margin-top: 0.3em;
  background-color: #ff00b3;
  padding: 0.1em;
}

#memoji {
  width: 40%;
  height: auto;
  margin-top: 1em;
}

#memoji:hover {
  transform: scale(1.1);
}

.text-presentation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1em;
  width:60%;
}

.text-presentation p {
  width: 100%;
  font-family: 'Bebas Neue', arial;
  font-size: 1.25em;
}

.startdiv {
  display: flex;
  justify-content: center;
}

#btnStart {
  color: #ff00b3;
  font-size: 2vw;
  font-family: 'hypothetical-moon-of-mercury', arial;
  text-decoration: none;
  background-color: #161616;
  padding: 5px 10px;
  width: fit-content;
  margin-top: 0.7em;
  border: 0.08em solid #ff00b3;
}

#btnStart:hover {
  background-color: #ff00b3;
  color: #161616;
  border: 0.08em solid #161616;
}

.social-media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 10%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.social-media img {
  width: 40%;
  height: auto;
  margin: 0.5em;
}

.social-media img:hover {
  transform: scale(1.1);
}

