@font-face {
    font-family: "Hit-Me-Punk";
    src: url("../assets/fonts/hit-me-punk/Hit\ me\,\ punk!\ 04.ttf");
  }
  
  @font-face {
    font-family: "hypothetical-moon-of-mercury";
    src: url("../assets/fonts/hypothetical-moon-of-mercury/HypotheticalmoonofMercury.ttf");
  }

html {
    background-color: #cb559b;
    background-image: url("../assets/imgs/pink.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-family: 'Hit-Me-Punk', arial;
    color: #000000;
    font-size: 5.5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ff00b3;
    width:fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
}

#btnProject {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    font-family: 'hypothetical-moon-of-mercury', arial;
}

#btnHome {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    font-family: 'hypothetical-moon-of-mercury', arial;
}

.container {
    line-height: 3;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
    margin-right: 60px;
    margin-left: 60px;
}

.container img {
    width: 90% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    .container {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 1000px) {
    .container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 800px) {
    .container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .container {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

img {
    transition: all .2s ease-in-out;
    visibility: hidden;
    border:#ff00bf 5px solid;
}