html {
    background-image: url("../assets/imgs/backgrounds/pink.jpg");
    background-position: center;
    background-blend-mode: multiply;
    background-color:rgba(0, 186, 215, 0.636);
    scroll-behavior: smooth;
}

#cv-pdf {
    max-width: 70%;
    min-height: 800px;
    height: auto;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.download {
    text-align: center;
    margin: 2rem 0;
    color: #9b9b9b;
    margin: 2rem 0;
}

.download a {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 800px) {
    #cv-png {
        max-width: 80%;
    }
    
}